body {
      background-image: url("imagenes/colors-bg.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      color: white;
    }
p {
      color: white;
    }

h1 {
      color: white;
    }






