body {
      background-image: url("imagenes/colors-bg.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      transform: scale(1.2) rotate(10deg);
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }
p {
      color: white;
      font-family: 'Special Elite', cursive;
    }

h1, h2, h3 {
      color: white;
      font-family: 'Special Elite', cursive;
    }






